

.container[b-p95zkq7p33]{
    align-items: left;
}

body[b-p95zkq7p33] {
  background: white;
  /* font-family: 'Andada Pro', serif; */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.nav-link[b-p95zkq7p33]{
  color:#C7B4A3;

}

.navbar[b-p95zkq7p33]{
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    background:#DEC9B6;
    margin-bottom:10%;
    
}

.nav-item[b-p95zkq7p33]{
    margin-left: 50px;
}

.nav-item2[b-p95zkq7p33]{
    margin-left: 300px;
    border-left: 2px, black;
}

.nav-item3[b-p95zkq7p33]{
    margin-left: 20px;
}

.user[b-p95zkq7p33]{
    border-left: 2px solid black;
}

.form[b-p95zkq7p33]{
  margin-top: 20px;
  position: relative;
}

.product-search[b-p95zkq7p33] {

  display: flex;
  align-items: center;
  background: white;
  border-radius: 60px;
  margin: 0 auto;
  box-shadow: rgba(0,0,0,.172549) 0 6px 12px 0;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  height:80px;
  width: 55%;
}

.search-element[b-p95zkq7p33] {
  display:flex;
  flex-grow: 2;
  flex-direction: column;
  border-right: 1px solid rgba(10,10,10,.1);
  padding: 1em;
  margin-left:15px;
  height: 80px;
  width:10%;
}

.search-element2[b-p95zkq7p33] {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    padding: 1em;
    margin-left:15px;
  }

.search-label[b-p95zkq7p33] {
  font-weight: 700;
}

.search-input[b-p95zkq7p33] {
  border: none;
  appearance: none;
  outline: none;
  width: 100%;
  font-size: 1.2em;
  line-height: 1.2em;
  margin-top: 5px;
}

.search-input:focus[b-p95zkq7p33] {
  box-shadow: 0px 2px 0px 0px tomato;
}

.search-button[b-p95zkq7p33] {
    display:block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid red;
}

.search-button:hover[b-p95zkq7p33] {
  background-color: HSLA(345, 100%, 60%, 1.00);
}

.search-image[b-p95zkq7p33]{
    margin-right:15px;
}

table[b-p95zkq7p33] {
    width: 90%;
    margin: 5%;
    align-items: center;
  }

.product[b-p95zkq7p33]{
    width: 220px;
    height: 350px;
    background-size: cover;
    
    border: 6px solid black;
    margin-left: auto;
    margin-right: auto;
    
}

.padding[b-p95zkq7p33]{
  margin-left:20%;
  }

.product2[b-p95zkq7p33]{

    margin-bottom: 20% ;
  }
.text[b-p95zkq7p33]{
  margin-left:20%;

}

.headline[b-p95zkq7p33]{
  margin-bottom:2px;
}
.carousel[b-p95zkq7p33]{
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 2%;
  height: 100%;
  width: 80%;
  object-fit: contain;
}
.h1[b-p95zkq7p33]{
  margin-left:10%;
  margin-top: 2%;
  font-family: 'Andada Pro', serif;

}
.d-flex[b-p95zkq7p33]{
  margin: auto;
  width: 100%;
}
.parallax-container[b-p95zkq7p33] {
  position: relative;
  width: 100%;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: 0%;
  display: flex;
  background-attachment: fixed;

}
.background[b-p95zkq7p33] {
  justify-content: center;
  position: absolute;
  position: fixed;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:top center;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateZ(0px);
}


.foreground[b-p95zkq7p33] {
 background-attachment: fixed;
 margin-top: 20px;
 margin-left: auto;
 margin-right:auto;;

}
