

.container[b-ja5p2nx6go]{
    align-items: left;
}

body[b-ja5p2nx6go] {
  background: white;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.nav-link[b-ja5p2nx6go]{
  color:#C7B4A3;

}

.navbar[b-ja5p2nx6go]{
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    background:#DEC9B6;
    
}

.nav-item[b-ja5p2nx6go]{
    margin-left: 50px;
}

.nav-item2[b-ja5p2nx6go]{
    margin-left: 300px;
    border-left: 2px, black;
}

.nav-item3[b-ja5p2nx6go]{
    margin-left: 20px;
}

.user[b-ja5p2nx6go]{
    border-left: 2px solid black;
}


.product-search[b-ja5p2nx6go] {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 60px;
  margin: 0 auto;
  box-shadow: rgba(0,0,0,.172549) 0 6px 12px 0;
  cursor: pointer;
  margin-left: 20%;
  margin-right: 20%;
}

.search-element[b-ja5p2nx6go] {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  border-right: 1px solid rgba(10,10,10,.1);
  padding: 1em;
  margin-left:15px;
}

.search-element2[b-ja5p2nx6go] {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    padding: 1em;
    margin-left:15px;
  }

.search-label[b-ja5p2nx6go] {
  font-weight: 700;
}

.search-input[b-ja5p2nx6go] {
  border: none;
  appearance: none;
  outline: none;
  width: 100%;
  font-size: 1.2em;
  line-height: 1.2em;
  margin-top: 5px;
}

.search-input:focus[b-ja5p2nx6go] {
  box-shadow: 0px 2px 0px 0px tomato;
}

.search-button[b-ja5p2nx6go] {
    display:block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid red;
}

.search-button:hover[b-ja5p2nx6go] {
  background-color: HSLA(345, 100%, 60%, 1.00);
}

.search-image[b-ja5p2nx6go]{
    margin-right:15px;
}

table[b-ja5p2nx6go] {
    width: 90%;
    margin: 5%;
    align-items: center;
  }
.product[b-ja5p2nx6go]{
    width: 170px;
    height: 250px;
    background-image:url("/Images/gold.jpg") ;
    border: 4px solid #63452A;
    
}

.product2[b-ja5p2nx6go]{
    margin-bottom: 20% ;
}

.headline[b-ja5p2nx6go]{
  font-weight: bold;
  margin-bottom:2px;
}