img[b-ja5p2nx6go] {
  height: 80%; 
  width: 80%; 
  object-fit: contain;
  margin: 0;
}

.title[b-ja5p2nx6go]{
  margin-left: 4%;
  font-family: 'IM Fell English SC', serif;
  position: absolute;
  top: 22%;
}


.logout[b-ja5p2nx6go]{
  position: absolute;
  bottom: 0;
}


