img {
    height: 80%;
    width: 80%;
    object-fit: contain;
    margin: 0;
}

.title {
    margin-left: 4%;
    font-family: 'IM Fell English SC', serif;
    position: absolute;
    top: 22%;
}


.logout {
    position: absolute;
    width: 100%;
    bottom: 0;
}
