body {
    background-color: black;
}
h3{
    color: blue;
}
.footer {
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #00ACC1;
    color: white;
    text-align: center;
}

