@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <body> 
    <form action="" method="get">
    <div class="product-search">
        <div class="search-element">
            <label class="search-label">Title</label>
            <input class="search-input" type="text" autocomplete="on" placeholder="Enter Title" name="location">
        </div>
        <div class="search-element">
            <label class="search-label">Artist</label>
            <input class="search-input" type="text" placeholder="Enter Artist"  autocomplete="on" name="location">
        </div>
        <div class="search-element">
            <label class="search-label">Type</label>
            <input class="search-input" type="text" placeholder="Enter Type" autocomplete="on" name="location">
        </div>
        <div class="search-element">
            <label class="search-label">Price</label>
            <input class="search-input" type="text" placeholder="Enter Price" autocomplete="on" name="location">
        </div>
        <div class="search-element2">
            <label class="search-label">Tag</label>
            <input class="search-input" type="text" placeholder="Enter Tag" autocomplete="on" name="location">
        </div>
        <img class="search-image" src="/Images/search.jpg" width="50" height="50">
    </div>
    </form>
    <table>
  <tr>
    <td>
        <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
        
    </td>
    <td>
       <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
        <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
        <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
       <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
  </tr>
  <tr>
    <td>
        <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
       <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
       <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
       <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
       <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
  </tr>
  <tr>
    <td>
        <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
       <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
      <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
       <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
       <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
  </tr>
  <tr>
    <td>
       <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
    <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
        <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
       <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
      <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
  </tr>
  <tr>
    <td>
       <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
        <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
      <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
        <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
    <td>
       <div class ="product2">
            <div class = "product">
                
            </div>
            <p class="headline">Price:</p>
            <p class="headline">Artist:</p>
        </div>
    </td>
  </tr>
</table>


    
</body>
</div>
