
.footer[b-5mridw1b76] {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #00ACC1;
    color: white;
    text-align: center;
}

.carousel[b-5mridw1b76] {
    margin-left: 50px;
    margin-top: 3%;
    margin-bottom: 10%;
    width: 30%;
}
.frame[b-5mridw1b76]{
    border: 3px solid #555;
    background: black;
    margin: auto;
    padding: 15px 15px;
}