th[b-ebhgefn06d], td[b-ebhgefn06d] {
    padding: 70px;
}

.artInput[b-ebhgefn06d] {
    margin-left: 200px;
}
body[b-ebhgefn06d]{
    color: red;
}

.space[b-ebhgefn06d]{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer[b-ebhgefn06d] {
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #00ACC1;
    color: white;
    text-align: center;
}
.up[b-ebhgefn06d]{
    margin-top: 50px;
}