<nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="navbar-collapse collapse order-1 order-md-0 dual-collapse2">
        <img class="logo-image" src="/Images/logo.jpg" width="85" height="85">
    </div>
    <div class="container">
        <div class="@NavMenuCssClass"  @onclick="ToggleNavMenu">
            <ul class="navbar-nav flex-grow-1 d-lg-flex align-items-center">
                <li class="nav-item h-100">
                    <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                        Market Place
                    </NavLink>                
                </li>
                <li class="nav-item h-100">
                    <NavLink class="nav-link text-dark" href="counter">
                        Auctions
                    </NavLink>
                </li>
                <li class="nav-item h-100">
                    <NavLink class="nav-link text-dark" href="fetchdata">
                        Young Art
                    </NavLink>
                </li>
                <li class="nav-item h-100">
                    <NavLink class="nav-link text-dark" href="fetchdata">
                        About Us
                    </NavLink>
                </li>
                <li class="nav-item2 h-100">
                    <NavLink class="nav-link text-dark" href="fetchdata">
                        <img class="search-image" src="/Images/user.jpg" width="60" height="60">
                    </NavLink>
                </li>
                <VBox class="login">
                    <li class="nav-item3 h-100">
                    <NavLink class="nav-link text-dark" href="fetchdata">
                        Log In
                    </NavLink>
                    </li>
                    <li class="nav-item3 h-100">
                        <NavLink class="nav-link text-dark" href="fetchdata">
                            Sign Up
                        </NavLink>
                    </li>
                </VBox>
            </ul>
        </div>
    </div>
</nav>
<body> 
    <form action="" method="get">
    <div class="product-search">
        <div class="search-element">
            <label class="search-label">Title</label>
            <input class="search-input" type="text" autocomplete="on" placeholder="Enter Title" name="location">
        </div>
        <div class="search-element">
            <label class="search-label">Artist</label>
            <input class="search-input" type="text" placeholder="Enter Artist"  autocomplete="on" name="location">
        </div>
        <div class="search-element">
            <label class="search-label">Type</label>
            <input class="search-input" type="text" placeholder="Enter Type" autocomplete="on" name="location">
        </div>
        <div class="search-element">
            <label class="search-label">Price</label>
            <input class="search-input" type="text" placeholder="Enter Price" autocomplete="on" name="location">
        </div>
        <div class="search-element2">
            <label class="search-label">Tag</label>
            <input class="search-input" type="text" placeholder="Enter Tag" autocomplete="on" name="location">
        </div>
        <img class="search-image" src="/Images/search.jpg" width="50" height="50">
    </div>
    </form>
    <table>
  <tr>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
  </tr>
  <tr>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
  </tr>
  <tr>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
  </tr>
  <tr>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
  </tr>
  <tr>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
    <td>
        <div class = "product">
            
        </div>
    </td>
  </tr>
</table>


    
</body>  


@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}