@import '';

/* /Pages/ArtistView.razor.rz.scp.css */

/* img{
  height: 100%;
  width: 100%;
  object-fit: contain;
} */
body[b-lxf2248zhz] {
    background: white;
    /* font-family: 'Andada Pro', serif; */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.footer[b-lxf2248zhz] {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #00ACC1;
    color: white;
    text-align: center;
}


.profile[b-lxf2248zhz] {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 5%;
}

.container[b-lxf2248zhz] {
    margin-left: 10%;
}

.header[b-lxf2248zhz] {
}

.text[b-lxf2248zhz] {
    margin-left: 30%;
}

.image[b-lxf2248zhz] {
    width: 200px;
    height: 200px;
}
/* /Pages/DetailView.razor.rz.scp.css */

.footer[b-5mridw1b76] {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #00ACC1;
    color: white;
    text-align: center;
}

.carousel[b-5mridw1b76] {
    margin-left: auto;
    margin-right: auto; 
    margin-top: 1%;
    
    width: 70%;
}
.frame[b-5mridw1b76]{
    border: 3px solid #555;
    background: black;
    margin: auto;
    padding: 15px 15px;
}
.Desc[b-5mridw1b76]{
    width:60%;
    margin-left:220px;
    margin-bottom:5%;
    margin-top:10px;
}
.tags[b-5mridw1b76]{
    margin-top:5%;
    
}
.spacing[b-5mridw1b76]{
    margin-top:5%;
}
/* /Pages/Index.razor.rz.scp.css */


.container[b-fo21lasvq5] {
    align-items:center;
}
/* img{
  height: 100%;
  width: 100%;
  object-fit: contain;
} */
body[b-fo21lasvq5] {
    background: white;
    /* font-family: 'Andada Pro', serif; */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.footer[b-fo21lasvq5] {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #00ACC1;
    color: white;
    text-align: center;
}

.nav-link[b-fo21lasvq5] {
    color: #C7B4A3;
}

.navbar[b-fo21lasvq5] {
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    background: #DEC9B6;
    margin-bottom: 10%;
}

.nav-item[b-fo21lasvq5] {
    margin-left: 50px;
}

.nav-item2[b-fo21lasvq5] {
    margin-left: 300px;
    border-left: 2px, black;
}

.nav-item3[b-fo21lasvq5] {
    margin-left: 20px;
}

.user[b-fo21lasvq5] {
    border-left: 2px solid black;
}

.form[b-fo21lasvq5] {
    margin-top: 20px;
    position: relative;
}

.product-search[b-fo21lasvq5] {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 60px;
    margin: 0 auto;
    box-shadow: rgba(0,0,0,.172549) 0 6px 12px 0;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 70%;
}

.search-element[b-fo21lasvq5] {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    border-right: 1px solid rgba(10,10,10,.1);
    padding: 1em;
    margin-left: 15px;
    height: 80px;
    width: 10%;
}

.search-element2[b-fo21lasvq5] {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    padding: 1em;
    margin-left: 15px;
}

.search-label[b-fo21lasvq5] {
    font-weight: 700;
}

.search-input[b-fo21lasvq5] {
    border: none;
    appearance: none;
    outline: none;
    width: 100%;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 5px;
}

    .search-input:focus[b-fo21lasvq5] {
        box-shadow: 0px 2px 0px 0px tomato;
    }

.search-button[b-fo21lasvq5] {
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid red;
}

    .search-button:hover[b-fo21lasvq5] {
        background-color: HSLA(345, 100%, 60%, 1.00);
    }

.search-image[b-fo21lasvq5] {
    margin-right: 15px;
}

table[b-fo21lasvq5] {
    width: 90%;
    margin: 5%;
    align-items: center;
}

.product[b-fo21lasvq5] {
    width: 220px;
    height: 350px;
    background-size: cover;
    border: 6px solid black;
    margin-left: auto;
    margin-right: auto;
}

.para[b-fo21lasvq5] {
    margin-right: 10%;
    text-align: left;
}


.product2[b-fo21lasvq5] {
    margin-bottom: 20%;
}

.text[b-fo21lasvq5] {
    margin-left: 20%;
}

.headline[b-fo21lasvq5] {
    margin-bottom: 2px;
}

.carousel[b-fo21lasvq5] {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    width: 80%;
}

.h1[b-fo21lasvq5] {
    margin-left: 9%;
    margin-top: 2%;
    font-family: 'Andada Pro', serif;
}

.d-flex[b-fo21lasvq5] {
    margin: auto;
    width: 100%;
}

.parallax-container[b-fo21lasvq5] {
    position: relative;
    width: 100%;
    height: 500px;
    perspective: 8px;
    perspective-origin: 0%;
    display: flex;
    background-attachment: fixed;
}

.background[b-fo21lasvq5] {
    margin-top: 0%;
    justify-content: center;
    position: absolute;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    transform: translateZ(0px);
}


.foreground[b-fo21lasvq5] {
    background-attachment: fixed;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    ;
}

.container[b-fo21lasvq5] {
    position: relative;
    width: 50%;
    
  }
  
  .image[b-fo21lasvq5] {
    display: block;
    width: 350px;
    height: auto;
  }
  
  .overlay[b-fo21lasvq5] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 350px;
    /* margin-left: 15px; */
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay[b-fo21lasvq5] {
    opacity: 1;
  }
  
  .textbox[b-fo21lasvq5] {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
 
/* /Pages/New2.razor.rz.scp.css */
body[b-ecqq8gxeti] {
}
h3[b-ecqq8gxeti]{
    color:red;
}
/* /Pages/New3.razor.rz.scp.css */
body[b-7fzu0s62s2] {
}
h3[b-7fzu0s62s2]{
    color: green;
}
.text[b-7fzu0s62s2]{
}

/* /Pages/Open.razor.rz.scp.css */

.container[b-drcnif5294] {
    align-items: left;
}
/* img{
  height: 100%;
  width: 100%;
  object-fit: contain;
} */
body[b-drcnif5294] {
    background: white;
    /* font-family: 'Andada Pro', serif; */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.footer[b-drcnif5294] {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #00ACC1;
    color: white;
    text-align: center;
}



.nav-item3[b-drcnif5294] {
    margin-left: 20px;
}

.user[b-drcnif5294] {
    border-left: 2px solid black;
}

.form[b-drcnif5294] {
    margin-top: 20px;
    position: relative;
}

.product-search[b-drcnif5294] {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 60px;
    margin: 0 auto;
    box-shadow: rgba(0,0,0,.172549) 0 6px 12px 0;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 70%;
}
.entry[b-drcnif5294]{
    margin-left: 2%;
    margin-right: 2%;
}
.td[b-drcnif5294]{
    margin-left: 20%;
    margin-right: 20%;
}
.search-element[b-drcnif5294] {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    border-right: 2px solid rgba(10,10,10,.1);
    padding: 1em;
    margin-left: 15px;
    height: 80px;
    width: 10%;
}

.search-element2[b-drcnif5294] {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    padding: 1em;
    margin-left: 15px;
}

.search-label[b-drcnif5294] {
    font-weight: 700;
}

.search-input[b-drcnif5294] {
    border: none;
    appearance: none;
    outline: none;
    width: 100%;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 5px;
}

   

    .search-button:hover[b-drcnif5294] {
        background-color: HSLA(345, 100%, 60%, 1.00);
    }

.search-image[b-drcnif5294] {
    margin-right: 15px;
}

table[b-drcnif5294] {
    width: 90%;
    margin: 5%;
    align-items: center;
}

.product[b-drcnif5294] {
    width: 220px;
    height: 350px;
    background-size: cover;
    border: 6px solid black;
    margin-left: auto;
    margin-right: auto;
}

.para[b-drcnif5294] {
    margin-right: 10%;
    text-align: left;
}


.product2[b-drcnif5294] {
    margin-bottom: 20%;
}

.text[b-drcnif5294] {
    margin-left: 20%;
}

.headline[b-drcnif5294] {
    margin-bottom: 2px;
}

.carousel[b-drcnif5294] {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    width: 80%;
}

.h1[b-drcnif5294] {
    margin-left: 9%;
    margin-top: 2%;
    font-family: 'Andada Pro', serif;
}

.d-flex[b-drcnif5294] {
    margin: auto;
    width: 100%;
}




.foreground[b-drcnif5294] {
    background-attachment: fixed;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}
/* /Pages/Trends.razor.rz.scp.css */
.card[b-wql45fxksi]{
    width:300px;
}

.container[b-wql45fxksi] {
    align-items: left;
}
/* img{
  height: 100%;
  width: 100%;
  object-fit: contain;
} */
body[b-wql45fxksi] {
    background: white;
    /* font-family: 'Andada Pro', serif; */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.footer[b-wql45fxksi] {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #00ACC1;
    color: white;
    text-align: center;
}

.nav-link[b-wql45fxksi] {
    color: #C7B4A3;
}

.navbar[b-wql45fxksi] {
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    background: #DEC9B6;
    margin-bottom: 10%;
}

.nav-item[b-wql45fxksi] {
    margin-left: 50px;
}

.nav-item2[b-wql45fxksi] {
    margin-left: 300px;
    border-left: 2px, black;
}

.nav-item3[b-wql45fxksi] {
    margin-left: 20px;
}

.user[b-wql45fxksi] {
    border-left: 2px solid black;
}

.form[b-wql45fxksi] {
    margin-top: 20px;
    position: relative;
}

.product-search[b-wql45fxksi] {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 60px;
    margin: 0 auto;
    box-shadow: rgba(0,0,0,.172549) 0 6px 12px 0;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 70%;
}

.search-element[b-wql45fxksi] {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    border-right: 1px solid rgba(10,10,10,.1);
    padding: 1em;
    margin-left: 15px;
    height: 80px;
    width: 10%;
}

.search-element2[b-wql45fxksi] {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    padding: 1em;
    margin-left: 15px;
}

.search-label[b-wql45fxksi] {
    font-weight: 700;
}

.search-input[b-wql45fxksi] {
    border: none;
    appearance: none;
    outline: none;
    width: 100%;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 5px;
}

    .search-input:focus[b-wql45fxksi] {
        box-shadow: 0px 2px 0px 0px tomato;
    }

.search-button[b-wql45fxksi] {
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid red;
}

    .search-button:hover[b-wql45fxksi] {
        background-color: HSLA(345, 100%, 60%, 1.00);
    }

.search-image[b-wql45fxksi] {
    margin-right: 15px;
}

table[b-wql45fxksi] {
    width: 90%;
    margin: 5%;
    align-items: center;
}

.product[b-wql45fxksi] {
    width: 220px;
    height: 350px;
    background-size: cover;
    border: 6px solid black;
    margin-left: auto;
    margin-right: auto;
}

.para[b-wql45fxksi] {
    margin-right: 10%;
    text-align: left;
}


.product2[b-wql45fxksi] {
    margin-bottom: 20%;
}

.text[b-wql45fxksi] {
    margin-left: 20%;
}

.headline[b-wql45fxksi] {
    margin-bottom: 2px;
}

.carousel[b-wql45fxksi] {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    width: 80%;
}

.h1[b-wql45fxksi] {
    margin-left: 9%;
    margin-top: 2%;
    font-family: 'Andada Pro', serif;
}

.d-flex[b-wql45fxksi] {
    margin: auto;
    width: 100%;
}

.parallax-container[b-wql45fxksi] {
    position: relative;
    width: 100%;
    height: 500px;
    perspective: 8px;
    perspective-origin: 0%;
    display: flex;
    background-attachment: fixed;
}

.background[b-wql45fxksi] {
    justify-content: center;
    position: absolute;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    transform: translateZ(0px);
}


.foreground[b-wql45fxksi] {
    background-attachment: fixed;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    ;
}
/* /Pages/UploadArt.razor.rz.scp.css */
th[b-ebhgefn06d], td[b-ebhgefn06d] {
    padding: 70px;
}

.artInput[b-ebhgefn06d] {
    margin-left: 200px;
}
body[b-ebhgefn06d]{
    color: red;
}

.space[b-ebhgefn06d]{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer[b-ebhgefn06d] {
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #00ACC1;
    color: white;
    text-align: center;
}
.up[b-ebhgefn06d]{
    margin-top: 50px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.main[b-aj2li4n6m3]{
    margin-top: 0;
}
/* /Shared/NavMenu.razor.rz.scp.css */
img[b-zpe50d1sq6] {
    height: 80%;
    width: 80%;
    object-fit: contain;
    margin: 0;
}

.title[b-zpe50d1sq6] {
    margin-left: 4%;
    font-family: 'IM Fell English SC', serif;
    position: absolute;
    top: 22%;
}


.logout[b-zpe50d1sq6] {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#link[b-zpe50d1sq6]{
    text-decoration: none;
    color: white;
}
/* /Shared/NewShared.razor.rz.scp.css */
body[b-xdd1unzwde] {
}
h3[b-xdd1unzwde]{
    color: orange;
}
